<div class="container" style="min-height: 70vh">
  <!-- <button (click)="sendMessage()">Send Message</button> -->
  <div *ngIf="spinner" class=" rox d-flex justify-content-center">
    <div class="spinner-border text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="!spinner">
    <div class="row align-items-center">
      <div class="col-md-10 col-lg-10 col-xl-10">
        <h1 class="display-4">Industry</h1>
      </div>
      <div class="col-md-1 col-lg-1 col-xl-1">
        <button type="button" *ngIf="!showAddIndustry" (click)="showAddIndustry = !showAddIndustry"
          class="btn btn-warning">
          <i class="fa fa-plus" aria-hidden="true"></i> </button>
      </div>
    </div>
    <!-- <div id="addIndustry" *ngIf="showAddIndustry">
      <form class="row">
        <div class="form-group col-md-4">
          <label for="industryName">Industry Name</label>
          <input type="text" maxlength="50" class="form-control" name="industryName" aria-describedby="industryHelp"
            placeholder="Enter industry" [(ngModel)]="domainToSave.NAME">
          <small id="industryHelp" class="form-text text-muted">Name of the industry that you intend to show to users,
            maximum 50 characters.</small>
        </div>
        <div class="form-group col-md-4">
          <label for="industryDesc">Industry Description</label>
          <input type="text" class="form-control" name="industryDesc" aria-describedby="descHelp"
            placeholder="Enter industry" [(ngModel)]="domainToSave.DESCRIPTION">
          <small id="descHelp" class="form-text text-muted">Description of the ins.</small>
        </div>
        <div class="col-md-12">
          <button type="submit" class="btn btn-success" (click)="onSaveIndustryClick(domainToSave)">Save</button>
        </div>

      </form>
    </div> -->

    <div id="showIndustry" class="row" *ngIf="((domains.length > 0))">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let domain of domains ; let i=index" (click) = ondocumentClick(domain)>
            <th scope="row">{{i + 1}}</th>
            <td>{{domain.NAME}}</td>
            <td>{{domain.DESCRIPTION}}</td>
            <td>
              <span style="margin-right: 3%">
                <i (click)="oneditClick(domain)" class="fa fa-pencil fa-lg text-warning" aria-hidden="true"></i>
              </span>
              <span>
                <i (click)="ondeleteClick(domain)" class="fa fa-trash fa-lg text-danger" aria-hidden="true"></i>
              </span>
            </td>
          </tr>
          <tr *ngIf="showAddIndustry">
            <th></th>
            <td>
              <div class="form-group">
                <!-- <label for="industryName">Industry Name</label> -->
                <input type="text" maxlength="50" class="form-control" name="industryName"
                  aria-describedby="industryHelp" placeholder="Enter industry" [(ngModel)]="domainToSave.NAME">
                <small id="industryHelp" class="form-text text-muted">Name of the industry that you intend to show to
                  users, maximum 50 characters.</small>
              </div>
            </td>
            <td>
              <div class="form-group">
                <!-- <label for="industryDesc">Industry Description</label> -->
                <input type="text" class="form-control" name="industryDesc" aria-describedby="descHelp"
                  placeholder="Enter industry" [(ngModel)]="domainToSave.DESCRIPTION">
                <small id="descHelp" class="form-text text-muted">Description of the ins.</small>
              </div>
            </td>
            <td>
              <div class="col-md-12">
                <button type="submit" class="btn btn-success" style="margin-right: 3%" (click)="onSaveIndustryClick(domainToSave)">Save</button>
                <button type="button" *ngIf="showAddIndustry" (click)="showAddIndustry = !showAddIndustry"
                  class="btn btn-light">
                  Cancel
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
